.btn {
    background-color:green;
    color: white;
    padding: 9px;
    margin: 9px;
}

.add-input {
    background-color: lightyellow;
    padding: 10px;
    border:3px solid black;
    border-radius: 10px;

}

.add-task-action {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.task-li {
    margin-top:10px;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    padding: 10px;
    border:5px solid grey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: space-between;
    display: flex;
}


.task-ul .delete {
    background-color: red;
    padding: 0px 10px;
    cursor: pointer;
}

.completed .task-text {
    text-decoration: line-through;
}
