.btn {
    background-color:green;
    color: white;
    padding: 9px;
    margin: 9px;
}

.add-input {
    background-color: lightyellow;
    padding: 10px;
    border:3px solid black;
    border-radius: 10px;

}